{% extends 'app/layout.html.twig' %}

{% block content %}
    {% if articles is defined and articles is not empty and articles is not null %}
        {% for article in articles %}
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">{{ article.title }}</div>
                </div>
                <div class="panel-body">
                    {% if article.imageName is defined and article.imageName is not empty and article.imageName is
                    not null %}
                        <div class="col-md-3">
                            <img class="img-responsive"
                                 src="{{ vich_uploader_asset(article,'image') |imagine_filter('article_picture_list') }}"
                                 alt="{{ article.title }}">
                        </div>
                    {% endif %}
                    {{ article.content|html }}

                </div>
                {% if article.fileName is defined and article.fileName is not empty and article.fileName is not null %}
                    <div class="panel-footer">
                        <a class="btn btn-info" download href="{{ vich_uploader_asset(article, 'file') }}">Télécharger
                            la pièce jointe</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
