{% extends 'admin/form.html.twig' %}

{% import 'admin/common/_submit.html.twig' as submit %}

{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">{{ 'admin.booking.create'|trans }}</div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.event) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.ticketCategory) }}
                </div>
            </div>

            <ul class="list-unstyled" id="ticket-fields-list" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}">
                {% for ticket in form.tickets %}
                    <li>
                        <div class="panel">
                            <div class="panel-heading panel-title">Ticket {{ loop.index }}</div>
                            <div class="panel-body">
                                {{ form_widget(ticket) }}
                                {{ form_errors(ticket) }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <a href="#" id="add-another-ticket">Ajouter un ticket</a>

        </div>

        {{ form_row(form._token) }}

        <div class="panel-footer">
            {{ submit.button(path('admin_booking_index')) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
{% block view_js %}
    <script type="text/javascript">
        var ticketCount = '{{ form.tickets|length }}';
        jQuery('.delete-ticket').click(function() {
            $(this).closest('li').remove();
        });

        jQuery(document).ready(function() {
            jQuery('#add-another-ticket').click(function(e) {
                e.preventDefault();

                var ticketList = jQuery('#ticket-fields-list');

                var newWidget = ticketList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, ticketCount);
                ticketCount++;
                titleWidget = '<div class="panel-heading panel-title">Ticket '+ ticketCount +'</div><div class="panel-body">';
                closerPanelBody = '</div>';

                var newLi = jQuery('<li></li>').html(titleWidget + newWidget + closerPanelBody);
                newLi.appendTo(ticketList);
                newLi.addClass('panel');

                jQuery('.js-datepicker').datetimepicker({
                    format: 'DD/MM/YYYY',
                }).parent().css('position', 'relative');
            });
        })
    </script>
{% endblock %}
