{% extends 'admin/datatable_layout.html.twig' %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                {{ 'admin.booking.title'|trans }}
                <a href="#" class="btn btn-info add-btn"
                   title="{{ 'common.button.add'|trans }}">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="{{ path('admin_booking_export_all') }}" class="btn btn-primary add-btn"
                   title="{{ 'common.button.export'|trans }}">
                    <i class="fa fa-file-excel-o"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <select id="select-event">
                {% for event in events %}
                    <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" id="url-ajax-reservation" value="{{ path('admin_ajax_booking_list_index') }}"/>
            <div class="booking-list">
                {% include 'admin/booking/_booking_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block view_js %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#select-event').select2().change(function () {
                $.ajax({
                    method: "POST",
                    url: $('#url-ajax-reservation').val(),
                    data: {
                        event: $(this).val()
                    }
                }).done(function (data) {
                    $('.booking-list').html(data);
                    $('#datatable').DataTable({
                        responsive: true,
                        oLanguage: {
                            sUrl: "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json"
                        },
                        columnDefs: [
                            {
                                targets: [0],
                                visible: false
                            }
                        ],
                        order: [[0, "desc"]]
                    });
                });
            });
        });
    </script>
{% endblock %}
