{% extends 'base.html.twig' %}
{% block title %}
    {{ 'admin.seo.title'|trans }}
{% endblock %}
{% block meta_description %}
    {{ 'admin.seo.description'|trans }}
{% endblock %}
{% block current_stylesheet %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header id="header">
        <div class="container">

            {# Inclusion du template pour entête de la page #}
            {% include 'admin/common/header/_header.html.twig' %}

        </div>
    </header>
{% endblock %}
{% block container %}
    <div class="col-md-2">
        {# Block pour le menu de droite #}
        {% block sidebar %}
            {# Inclusion du template pour le menu#}
            {% include 'admin/common/sidebar/_sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="col-md-10">
        <div class="content">

            {# Template Knp du breadcrumb #}
            {{ knp_menu_render('AppBundle:AdminBuilder:breadcrumb', {'template': 'admin/common/_breadcrumb.html.twig', 'currentClass': 'active'}) }}

            {# Block pour le contenu d'une vue #}
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block current_script %}
    <script src="{{ asset('js/admin.min.js') }}"></script>
{% endblock %}
