{% extends "app/layout.html.twig" %}

{% block content %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="panel col-md-6 col-md-offset-3">
        <div class="panel-heading">
            <div class="panel-title">{{ 'app.user.register.title'|trans }}</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 vr">
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.idNumber) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.civility) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.zipCode) }}
                    {{ form_row(form.city) }}
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <input type="submit" class="btn btn-success" id="_submit" name="_submit"
                   value="{{ 'common.button.save'|trans }}"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
