{% extends 'admin/layout.html.twig' %}
{% block stylesheets_lib %}
    {{ parent() }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">{{ 'admin.event_type.title'|trans }}</div>
        </div>
        <div class="panel-body">
            <a href="{{ path('add_event_type') }}" class="btn btn-info add-btn">Ajouter</a>
            <table id="event-types" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <th>{{ 'admin.event_type.title'|trans }}</th>
                <th>Actions</th>
                </thead>
                {% for eventType in eventTypes %}
                    <tr>
                        <td>{{ eventType.getName() }}</td>
                        <td class="column-actions"><a href="{{ path('edit_event_type', {'eventType':eventType.id}) }}"
                               class="btn btn-info" title="Modifier"><i class="fa fa-edit"></i></a>
                            <a href="{{ path('delete_event_type', {'eventType':eventType.id}) }}" class="btn btn-danger"
                               onclick="return confirm('{{ 'admin.event_type.delete_confirm'|trans }}')"
                               title="{{ 'common.button.delete'|trans }}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block view_js %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#event-types').DataTable( {
                "columnDefs": [
                    { "orderable": false, "targets": 1 }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            } );
        });
    </script>
{% endblock %}
