{% extends 'admin/datatable_layout.html.twig' %}
{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                {{ 'admin.article.title'|trans }}
                <a href="{{ path('admin_article_add') }}" class="btn btn-info add-btn"
                   title="{{ 'common.button.add'|trans }}">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>{{ 'common.data_table.id'|trans }}</th>
                    <th>{{ 'admin.article.title'|trans }}</th>
                    <th>{{ 'admin.article.image'|trans }}</th>
                    <th>{{ 'common.data_table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>
                            {% if article.imageName is defined and article.imageName is not null %}
                                <img class="img-responsive" alt="{{ article.imageName }}"
                                     src="{{ vich_uploader_asset(article, 'image')|imagine_filter
                                     ("datatable_picture") }}">
                            {% endif %}
                        </td>
                        <td class="column-actions">
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="{{ path('admin_article_edit', {'slug':article.slug}) }}"
                                   class="btn btn-info" title="{{ 'common.button.edit'|trans }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ path('admin_article_delete', {'slug':article.slug}) }}"
                                   class="btn btn-danger"
                                   onclick="return confirm('{{ 'admin.article.delete_confirm'|trans }}')"
                                   title="{{ 'common.button.delete'|trans }}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
