{% extends 'admin/form.html.twig' %}

{% import 'admin/common/_submit.html.twig' as submit %}

{% block content %}
    {{ form_start(form) }}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">{{ 'front.booking.add'|trans }}</div>
        </div>
        <div class="panel-body">
            {{ form_row(form.event) }}
        </div>
        <div class="panel-body">
            {{ form_row(form.ticketCategory) }}
        </div>
        <div class="panel-body">
            {{ form_row(form.mainUser) }}
        </div>
        <div class="panel-body">
           (( form_row(form.secondaryUser) }}
        </div>
        <div class="panel-footer">
            {{ submit.button(path('admin_ticket_category_index')) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
