{% extends 'admin/form.html.twig' %}

{% import 'admin/common/_submit.html.twig' as submit %}

{% block content %}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">{{ 'admin.event.create'|trans }}</div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.date) }}
            {{ form_row(form.location) }}
            {{ form_row(form.eventType) }}
        </div>
        <div class="panel-footer">
            {{ submit.button(path('admin_event_index')) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
